{% extends "base.html" %}

{% block body %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h3>Admin Login</h3>
            <hr>
            <form action="" method="POST">
                {% if error %}
                <p style="color:red">{{error}}</p>
                {% endif %}
                {% csrf_token %}
                {{ form|crispy}}
                <button class="btn btn-primary mt-2">Login as Admin</button>
            </form>
            
        </div>
    </div>
</div>
{% endblock body %}