{% extends "adminpages/adminbase.html" %}

{% block title %}
All Products
{% endblock title %}

{% block admin %}
  <div class="container">
    <div class="row mt-3">
        <div class="col-md-12">
            <h3 class="text-center"> All Product List</h3> <hr>
            <a href="{% url 'adminproductadd' %}">Add New Product</a> <hr>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Product Title</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Views</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in allproducts %}
                      <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{p.title}}</td>
                        <td><img src="{{p.image.url}}" style="width:75px;height:50px;"  alt="product img"></td>
                        <td>{{p.sell_price}}</td>
                        <td>{{p.view_count}}</td>
                      </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
  </div>
{% endblock admin %}