{% extends "base.html" %}

{% block body %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mt-5">
            <h3 class="text-center">Items in cart</h3> <hr>
            <a href="{% url 'my-cart' %}">Update Cart</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Serial</th>
                        <th>Photo</th>
                        <th>Product</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>

                    </tr>
                </thead>
                <tbody>
                    {% for i in cart.cartproduct_set.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><img src="{{i.product.image.url}}" style="width:50px;height:40px;" class="rounded-circle"
                                alt="product img"></td>

                        <td>{{i.product.title}}</td>
                        <td>{{i.rate}}</td>
                        <td>{{i.quantity}}</td>
                        <td>{{i.subtotal}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="5" class="text-end">Total</th>
                        <th>{{cart.total}} TK</th>
                        <th colspan="5" class="text-end">

                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4 mx-auto mt-5">
            <h3>Checkout Form</h3>
            <form action="" method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <button type="submit" class="btn btn-primary">Proccess</button>
            </form>
        </div>
    </div>

</div>
{% endblock body %}