{% extends "base.html" %}

{% block body %}
  <div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
          {% if request.GET.m == "s" %}
            <h3>Reset Password link is send to your email address.Please check.. </h3>
            {% else %}
            <h3>Enter your valid email to get reset link for reset password.</h3>
            {% if request.GET.m == "e" %}
              <h4 class="text-danger">Something went wrong.Please try again.</h4>
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary">Get Reset Link</button>
            </form>
            {% endif %}
        </div>
    </div>
  </div>
{% endblock body %}