{% extends "base.html" %}

{% block body %}
  <div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Items in Your Cart</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Serial</th>
                        <th>Photo</th>
                        <th>Product</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in cart.cartproduct_set.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><img src="{{i.product.image.url}}" style="width:50px;height:40px;" class="rounded-circle" alt="product img"></td>
                        
                        <td>{{i.product.title}}</td>
                        <td>{{i.rate}}</td>
                        <td>{{i.quantity}}</td>
                        <td>{{i.subtotal}}</td>
                        <td>
                            <a href="{% url 'manage-cart' i.id%}?action=inc" class="btn btn-primary">+</a>
                            <a href="{% url 'manage-cart' i.id%}?action=dcr" class="btn btn-warning">-</a>
                            <a href="{% url 'manage-cart' i.id%}?action=rmv" class="btn btn-danger">X</a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="5" class="text-end">Total = </th>
                        <th>TK. {{cart.total}}</th>
                        {% if cart.cartproduct_set.all %}
                        
                        <th>
                            <a href="{% url 'empty-cart' %}">Empty Cart</a></th>
                        {% endif %}
                        
                    </tr>
                    <tr>
                        <th colspan="5" class="text-end"> 
                            <form action="{% url 'checkout_session' cart.id %}" method="post">
                                {% csrf_token %}
                                <input type="submit" value="Proceed To Payment" class="btn btn-primary">
                            </form>
                            
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
{% endblock body %}