{% extends "base.html" %}

{% block body %}
<div class="container">
    <div>
        <h1 class="text-center mt-3">Our Products</h1> <hr>
    </div>
    {% for cate in categories %}
    <h2 class="my-3 text-center">{{cate.title}}</h2> <hr>

    <div class="row">
      {% for p in cate.product_set.all %}
      <div class="card mx-2" style="width: 18rem;">
        <img src="{{p.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'productdetail' p.slug %}">{{p.title}}</a></h5>
          <p class="card-title">Price: <del style="color:red">{{p.marked_price}}</del> TK.{{p.sell_price}}</p>
          <a href="{% url 'addtocart' p.id %}" class="btn btn-primary"  type="submit">Add to Cart</a>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
</div>

{% endblock body %}
